In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Making Validation and Train Dataset from the Train.csv

In [2]:
df = pd.read_csv('train.csv')
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
len(df)

1460

In [4]:
0.2 * 1460
# mean 292 rows must go to validation set

292.0

In [5]:
validation_df = df[:293].copy()
validation_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,289,20,RL,NaN,9819,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,122000
289,290,70,RL,60.0,8730,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2007,WD,Normal,153575
290,291,60,RL,120.0,15611,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,New,Partial,233230
291,292,190,RL,55.0,5687,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,3,2008,WD,Normal,135900
292,293,50,RL,60.0,11409,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2009,WD,Normal,131000

In [7]:
df = df.iloc[293:].reset_index(drop=True)
df #this is our training data set

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,294,60,RL,NaN,16659,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2006,WD,Normal,235000
1,295,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,167000
2,296,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
3,297,50,RM,75.0,13710,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2007,WD,Normal,152000
4,298,60,FV,66.0,7399,Pave,Pave,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,239000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1162,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1163,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1164,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1165,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1166,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

### Preprocessing Training Dataset

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1167 non-null   int64
 1   MSSubClass     1167 non-null   int64
 2   MSZoning       1167 non-null   object
 3   LotFrontage    957 non-null    float64
 4   LotArea        1167 non-null   int64
 5   Street         1167 non-null   object
 6   Alley          75 non-null     object
 7   LotShape       1167 non-null   object
 8   LandContour    1167 non-null   object
 9   Utilities      1167 non-null   object
 10  LotConfig      1167 non-null   object
 11  LandSlope      1167 non-null   object
 12  Neighborhood   1167 non-null   object
 13  Condition1     1167 non-null   object
 14  Condition2     1167 non-null   object
 15  BldgType       1167 non-null   object
 16  HouseStyle     1167 non-null   object
 17  OverallQual    1167 non-null   int64
 18  OverallCond    1167 non-null   int64
 19  YearBuilt      1167 non-null   int64
 20  YearRemodAdd   1167 non-null   int64
 21  RoofStyle      1167 non-null   object
 22  RoofMatl       1167 non-null   object
 23  Exterior1st    1167 non-null   object
 24  Exterior2nd    1167 non-null   object
 25  MasVnrType     462 non-null    object
 26  MasVnrArea     1160 non-null   float64
 27  ExterQual      1167 non-null   object
 28  ExterCond      1167 non-null   object
 29  Foundation     1167 non-null   object
 30  BsmtQual       1137 non-null   object
 31  BsmtCond       1137 non-null   object
 32  BsmtExposure   1136 non-null   object
 33  BsmtFinType1   1137 non-null   object
 34  BsmtFinSF1     1167 non-null   int64
 35  BsmtFinType2   1136 non-null   object
 36  BsmtFinSF2     1167 non-null   int64
 37  BsmtUnfSF      1167 non-null   int64
 38  TotalBsmtSF    1167 non-null   int64
 39  Heating        1167 non-null   object
 40  HeatingQC      1167 non-null   object
 41  CentralAir     1167 non-null   object
 42  Electrical     1166 non-null   object
 43  1stFlrSF       1167 non-null   int64
 44  2ndFlrSF       1167 non-null   int64
 45  LowQualFinSF   1167 non-null   int64
 46  GrLivArea      1167 non-null   int64
 47  BsmtFullBath   1167 non-null   int64
 48  BsmtHalfBath   1167 non-null   int64
 49  FullBath       1167 non-null   int64
 50  HalfBath       1167 non-null   int64
 51  BedroomAbvGr   1167 non-null   int64
 52  KitchenAbvGr   1167 non-null   int64
 53  KitchenQual    1167 non-null   object
 54  TotRmsAbvGrd   1167 non-null   int64
 55  Functional     1167 non-null   object
 56  Fireplaces     1167 non-null   int64
 57  FireplaceQu    620 non-null    object
 58  GarageType     1106 non-null   object
 59  GarageYrBlt    1106 non-null   float64
 60  GarageFinish   1106 non-null   object
 61  GarageCars     1167 non-null   int64
 62  GarageArea     1167 non-null   int64
 63  GarageQual     1106 non-null   object
 64  GarageCond     1106 non-null   object
 65  PavedDrive     1167 non-null   object
 66  WoodDeckSF     1167 non-null   int64
 67  OpenPorchSF    1167 non-null   int64
 68  EnclosedPorch  1167 non-null   int64
 69  3SsnPorch      1167 non-null   int64
 70  ScreenPorch    1167 non-null   int64
 71  PoolArea       1167 non-null   int64
 72  PoolQC         6 non-null      object
 73  Fence          215 non-null    object
 74  MiscFeature    41 non-null     object
 75  MiscVal        1167 non-null   int64
 76  MoSold         1167 non-null   int64
 77  YrSold         1167 non-null   int64
 78  SaleType       1167 non-null   object
 79  SaleCondition  1167 non-null   object
 80  SalePrice      1167 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 738.6+ KB

In [9]:
# Check for missing values
df.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      210
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

### Convert strings to categories

In [10]:
df.head().T

                    0       1       2       3       4
Id                294     295     296     297     298
MSSubClass         60      20      80      50      60
MSZoning           RL      RL      RL      RM      FV
LotFrontage       NaN    80.0    37.0    75.0    66.0
LotArea         16659    9600    7937   13710    7399
...               ...     ...     ...     ...     ...
MoSold              3      10       3       6       6
YrSold           2006    2009    2006    2007    2007
SaleType           WD      WD      WD      WD      WD
SaleCondition  Normal  Normal  Normal  Normal  Normal
SalePrice      235000  167000  142500  152000  239000

[81 rows x 5 columns]

In [11]:
# These columns contain strings
for label, content in df.items():
    if pd.api.types.is_string_dtype(content):
        print(label)

MSZoning
Street
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
ExterQual
ExterCond
Foundation
Heating
HeatingQC
CentralAir
KitchenQual
Functional
PavedDrive
SaleType
SaleCondition

In [12]:
# This will turn all of the string values into category values
for label, content in df.items():
    if pd.api.types.is_object_dtype(content):
        df[label] = content.astype("category").cat.as_ordered()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1167 non-null   int64
 1   MSSubClass     1167 non-null   int64
 2   MSZoning       1167 non-null   category
 3   LotFrontage    957 non-null    float64
 4   LotArea        1167 non-null   int64
 5   Street         1167 non-null   category
 6   Alley          75 non-null     category
 7   LotShape       1167 non-null   category
 8   LandContour    1167 non-null   category
 9   Utilities      1167 non-null   category
 10  LotConfig      1167 non-null   category
 11  LandSlope      1167 non-null   category
 12  Neighborhood   1167 non-null   category
 13  Condition1     1167 non-null   category
 14  Condition2     1167 non-null   category
 15  BldgType       1167 non-null   category
 16  HouseStyle     1167 non-null   category
 17  OverallQual    1167 non-null   int64
 18  OverallCond    1167 non-null   int64
 19  YearBuilt      1167 non-null   int64
 20  YearRemodAdd   1167 non-null   int64
 21  RoofStyle      1167 non-null   category
 22  RoofMatl       1167 non-null   category
 23  Exterior1st    1167 non-null   category
 24  Exterior2nd    1167 non-null   category
 25  MasVnrType     462 non-null    category
 26  MasVnrArea     1160 non-null   float64
 27  ExterQual      1167 non-null   category
 28  ExterCond      1167 non-null   category
 29  Foundation     1167 non-null   category
 30  BsmtQual       1137 non-null   category
 31  BsmtCond       1137 non-null   category
 32  BsmtExposure   1136 non-null   category
 33  BsmtFinType1   1137 non-null   category
 34  BsmtFinSF1     1167 non-null   int64
 35  BsmtFinType2   1136 non-null   category
 36  BsmtFinSF2     1167 non-null   int64
 37  BsmtUnfSF      1167 non-null   int64
 38  TotalBsmtSF    1167 non-null   int64
 39  Heating        1167 non-null   category
 40  HeatingQC      1167 non-null   category
 41  CentralAir     1167 non-null   category
 42  Electrical     1166 non-null   category
 43  1stFlrSF       1167 non-null   int64
 44  2ndFlrSF       1167 non-null   int64
 45  LowQualFinSF   1167 non-null   int64
 46  GrLivArea      1167 non-null   int64
 47  BsmtFullBath   1167 non-null   int64
 48  BsmtHalfBath   1167 non-null   int64
 49  FullBath       1167 non-null   int64
 50  HalfBath       1167 non-null   int64
 51  BedroomAbvGr   1167 non-null   int64
 52  KitchenAbvGr   1167 non-null   int64
 53  KitchenQual    1167 non-null   category
 54  TotRmsAbvGrd   1167 non-null   int64
 55  Functional     1167 non-null   category
 56  Fireplaces     1167 non-null   int64
 57  FireplaceQu    620 non-null    category
 58  GarageType     1106 non-null   category
 59  GarageYrBlt    1106 non-null   float64
 60  GarageFinish   1106 non-null   category
 61  GarageCars     1167 non-null   int64
 62  GarageArea     1167 non-null   int64
 63  GarageQual     1106 non-null   category
 64  GarageCond     1106 non-null   category
 65  PavedDrive     1167 non-null   category
 66  WoodDeckSF     1167 non-null   int64
 67  OpenPorchSF    1167 non-null   int64
 68  EnclosedPorch  1167 non-null   int64
 69  3SsnPorch      1167 non-null   int64
 70  ScreenPorch    1167 non-null   int64
 71  PoolArea       1167 non-null   int64
 72  PoolQC         6 non-null      category
 73  Fence          215 non-null    category
 74  MiscFeature    41 non-null     category
 75  MiscVal        1167 non-null   int64
 76  MoSold         1167 non-null   int64
 77  YrSold         1167 non-null   int64
 78  SaleType       1167 non-null   category
 79  SaleCondition  1167 non-null   category
 80  SalePrice      1167 non-null   int64
dtypes: category(43), float64(3), int64(35)
memory usage: 405.9 KB

All of our data is categorical and thus we can now turn the categories into numbers, however it's still missing values..

In [14]:
df.isnull().sum()/len(df)

Id               0.000000
MSSubClass       0.000000
MSZoning         0.000000
LotFrontage      0.179949
LotArea          0.000000
                   ...
MoSold           0.000000
YrSold           0.000000
SaleType         0.000000
SaleCondition    0.000000
SalePrice        0.000000
Length: 81, dtype: float64

## Fill missing values

From our experience with machine learning models. We know two things:
                            1. All of our data has to be numerical
                            2. We have to fill missing values

## Filling numerical values first

In [15]:
for label, content in df.items():
    if pd.api.types.is_numeric_dtype(content):
        print(label)

Id
MSSubClass
LotFrontage
LotArea
OverallQual
OverallCond
YearBuilt
YearRemodAdd
MasVnrArea
BsmtFinSF1
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
1stFlrSF
2ndFlrSF
LowQualFinSF
GrLivArea
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
TotRmsAbvGrd
Fireplaces
GarageYrBlt
GarageCars
GarageArea
WoodDeckSF
OpenPorchSF
EnclosedPorch
3SsnPorch
ScreenPorch
PoolArea
MiscVal
MoSold
YrSold
SalePrice

In [16]:
# Check for which numeric columns have null values
for label, content in df.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            print(label)

LotFrontage
MasVnrArea
GarageYrBlt

In [17]:
# Fill numeric rows with the median
for label, content in df.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            # Add a binary column which tells if the data was missing our not
            df[label+"_is_missing"] = pd.isnull(content)
            # Fill missing numeric values with median since it's more robust than the mean
            df[label] = content.fillna(content.median())

In [18]:
# Check if there's any null values
for label, content in df.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            print(label)

### Filling and turning categorical variables to numbers
Now we've filled the numeric values, we'll do the same with the categorical values at the same time as turning them into numbers.

In [19]:
# Check columns which *aren't* numeric
for label, content in df.items():
    if not pd.api.types.is_numeric_dtype(content):
        print(label)

MSZoning
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
Heating
HeatingQC
CentralAir
Electrical
KitchenQual
Functional
FireplaceQu
GarageType
GarageFinish
GarageQual
GarageCond
PavedDrive
PoolQC
Fence
MiscFeature
SaleType
SaleCondition

In [20]:
for label, content in df.items():
    # Check columns which *aren't* numeric
    if not pd.api.types.is_numeric_dtype(content):
        # Add binary column to inidicate whether sample had missing value
        df[label+"_is_missing"] = pd.isnull(content)
        # We add the +1 because pandas encodes missing categories as -1
        df[label] = pd.Categorical(content).codes+1

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Columns: 127 entries, Id to SaleCondition_is_missing
dtypes: bool(46), float64(3), int64(35), int8(43)
memory usage: 448.0 KB

In [22]:
df.isna().sum()

Id                          0
MSSubClass                  0
MSZoning                    0
LotFrontage                 0
LotArea                     0
                           ..
PoolQC_is_missing           0
Fence_is_missing            0
MiscFeature_is_missing      0
SaleType_is_missing         0
SaleCondition_is_missing    0
Length: 127, dtype: int64

In [23]:
df.head().T

                              0      1      2      3      4
Id                          294    295    296    297    298
MSSubClass                   60     20     80     50     60
MSZoning                      4      4      4      5      2
LotFrontage                68.0   80.0   37.0   75.0   66.0
LotArea                   16659   9600   7937  13710   7399
...                         ...    ...    ...    ...    ...
PoolQC_is_missing          True   True   True   True   True
Fence_is_missing           True   True  False  False   True
MiscFeature_is_missing     True   True   True   True   True
SaleType_is_missing       False  False  False  False  False
SaleCondition_is_missing  False  False  False  False  False

[127 rows x 5 columns]

### Preprocessing Validation Set